@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-BlackItalic.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-BlackItalic.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-BlackItalic.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-BlackItalic.ttf?raw=true') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Black.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Black.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Black.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Black.ttf?raw=true') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-BoldItalic.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-BoldItalic.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-BoldItalic.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-BoldItalic.ttf?raw=true') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Bold.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Bold.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Bold.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Bold.ttf?raw=true') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-DemiBoldItalic.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-DemiBoldItalic.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-DemiBoldItalic.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-DemiBoldItalic.ttf?raw=true') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-DemiBold.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-DemiBold.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-DemiBold.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-DemiBold.ttf?raw=true') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraBoldItalic.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraBoldItalic.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraBoldItalic.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraBoldItalic.ttf?raw=true') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraBold.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraBold.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraBold.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraBold.ttf?raw=true') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraLightItalic.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraLightItalic.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraLightItalic.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraLightItalic.ttf?raw=true') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraLight.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraLight.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraLight.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ExtraLight.ttf?raw=true') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Hairline';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-HairlineItalic.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-HairlineItalic.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-HairlineItalic.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-HairlineItalic.ttf?raw=true') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Hairline';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Hairline.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Hairline.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Hairline.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Hairline.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Hairline.ttf?raw=true') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Italic.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Italic.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Italic.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Italic.ttf?raw=true') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-LightItalic.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-LightItalic.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-LightItalic.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-LightItalic.ttf?raw=true') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Light.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Light.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Light.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Light.ttf?raw=true') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-MediumItalic.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-MediumItalic.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-MediumItalic.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-MediumItalic.ttf?raw=true') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Medium.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Medium.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Medium.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Medium.ttf?raw=true') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Regular.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Regular.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Regular.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Regular.ttf?raw=true') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ThinItalic.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ThinItalic.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ThinItalic.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-ThinItalic.ttf?raw=true') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Thin.eot?raw=true');
    src: url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Thin.woff2?raw=true') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Thin.woff?raw=true') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dev-avology/sunrider-fonts@main/TTHoves-Thin.ttf?raw=true') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

